<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    {% load static %}
    <link rel="stylesheet" target="_blank" href="{% static 'css/base.css' %}">
</head>
<body>
<header><h2>Hyper news</h2></header>
{% if news %}
    {% for date, list_news in news.items %}
        <h4>{{ date }}</h4>
    <ul>
        {% for new in list_news %}

        <li><a href="/news/{{ new.link }}/">{{ new.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endif %}

<form action="{% url 'index' %}" method="get">
    <input type="text" name="q">
    <br><br>
    <input type="submit"  value="Search">
</form>
<br>
<footer>
    <a href="{% url 'create' %}">Publish</a>
</footer>
</body>
</html>
